h1 {
	text-align: center;
	font-family: "kg pdx bridgetown";
	font-size: 80px;
}

p {
	text-align: center;
	font-family: "comic andy";
	font-size: 28px;
	margin-right: auto;
	margin-left: auto;
}

img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}